name: CI Check

on:
    pull_request:
        branches: ["main"]

jobs:
    ci-check:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Setup Node
              uses: actions/setup-node@v6

            - name: Install dependencies
              run: npm ci

            - name: Run format check
              run: npm run format:check

            - name: Run types check
              run: npm run types:check

            - name: Run lint check
              run: npm run lint:check

            - name: Run the tests
              run: npm run test
